.player-container {
    background: #1a1a1a;
    /*  overflow: scroll;*/
    width: 100%;
    margin: 0 0 50px;
}

.video-js {
    float: left;
    width: 100%;
    height: 378px;
}

.vjs-playlist {
    float: left;
    width: 100%;
}

.vjs-playlist-item-list>li {
    max-height: 54px;
}

.vjs-mouse.vjs-playlist {
    font-size: 12px;
}

.vjs-playlist-vertical .vjs-playlist-item {
    margin-bottom: 0px;
}

.video-js .vjs-current-time {
    display: block;
}

.panel-heading>.heading-a {
    color: #0b8043 !important;
    font-weight: 600;
}

.nav-tabs {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
    background-color: #fff;
}

.nav-tabs>li>a:active {
    background-color: #efece9 !important;
    color: #efece9;
}

.nav>li>a {
    font-weight: bold;
    color: #333;
    font-size: 16px;
    background-color: #fff;
    border: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
    color: #333;
    background-color: #efece9;
    border: none;
}

.panel {
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.panel-body {
    padding: 15px;
}

.tab-content {
    box-sizing: border-box;
}

.progress {
    height: 20px;
}

.progress .sr-only {
    position: relative;
}

.wizard {
    background-color: #fff;
}

#tabs {
    padding: 10px;
}

.panel-default>.panel-heading {
    color: #333;
    border-color: #ddd;
    background-color: #fff;
}


/*override default bootstrap css*/

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-track {
    /*background: linear-gradient(to right, #4cb96b, #32a176);*/
    padding: 5px 5px 0px 15px;
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: transparent;
    color: #555;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee
}

.nav>li.disabled>a {
    color: #777
}

.nav>li.disabled>a:focus,
.nav>li.disabled>a:hover {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #eee;
    border-color: #337ab7
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.nav>li>a>img {
    max-width: none
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    font-weight: 600;
    color: #0b8043;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}


/*eo override*/

.content-group {
    display: none;
}

.tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tabs label {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    display: block;
    padding: 5px;
    margin-right: 0.2rem;
    margin-bottom: 0px !important;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: background ease 0.2s;
    transition: background ease 0.2s;
    padding: 10px 10px 5px 10px;
}

.tabs .tab {
    -webkit-box-ordinal-group: 100;
    -webkit-order: 99;
    -ms-flex-order: 99;
    order: 99;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    display: none;
    background: #fafafa;
    border: 2px solid #ddd;
}

.tabs input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.tabs input[type="radio"]:checked+label {
    background: #fafafa;
    border-left: 2px solid #ddd;
    border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: green;
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}

@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        -webkit-box-ordinal-group: NaN;
        -webkit-order: initial;
        -ms-flex-order: initial;
        order: initial;
    }
    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}

pre {
    background-color: #e0e0e0 !important;
    border-radius: 10px !important;
    color: rgba(0, 0, 0, .9) !important;
    font-family: Consolas, monospace !important;
    margin-bottom: 10px !important;
    overflow: auto !important;
    padding: 10px !important;
    font-size: 14px;
}

body {
    font-size: 16px !important;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    text-rendering: optimizeLegibility;
    color: rgba(0, 0, 0, .84);
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.alignleft {
    float: left;
}

.alignright {
    flaot: right;
}

th,
td {
    border-width: 1px;
}

pre {
    font-size: 15px !important;
}

.prettyprint {
    padding: 10px !important;
    margin-top: 10px !important;
    font-size: 15px !important;
}

.table>tbody>tr>td {
    border: none;
}

.table>tbody>tr:hover {
    background-color: #f5f5f5;
}

.activeQuestion {
    border: 2px solid #4c9cdf !important;
    color: #4c9cdf;
    font-weight: bold;
}

.quizProblem {
    margin: 5px;
    background: #fff;
}

.quizProblem:hover {
    border: 2px solid #ddd;
}

.spinner {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #07d;
    border-bottom-color: #07d;
    animation: spinner .8s ease infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.selectedOption {
    cursor: none;
    background-color: #BFE4C3;
}

.wrongSelectedOption {
    cursor: none;
    background-color: #FCA1A1;
}

tr:hover td {
    color: #000;
    background: #E6F5E7
}

.explanation {
    display: block;
    background: #ADE0C1;
    color: #030;
    border-color: #030;
    display: none;
    margin-left: 3em;
    width: 80%;
    margin-top: 1em;
    margin-bottom: 3em;
    border: thin solid;
    -o-border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    padding: .5em;
}

.explanation-level {
    display: block;
    padding-bottom: .25em;
    font-weight: 600;
}
